// Your custom styles
$webColor:#06163a;
#leftnav{
    background: $webColor;
}
.left_nav{
    ul {
        li.selected{
            color: #dde4f3;
             border-left:4px solid #ff5f15 ;
        background: #0e2454;
        }
    }
    li:hover{
        border-left:4px solid #ff5f15 ;
        background: #0e2454;
    }
    li{
        cursor: pointer;
        font-size: 14px;
        border-left: 4px solid $webColor;
        a{
            color: #dde4f3;
            
        }
    }
    font-family: "microsoft yahei";
    a{
      font-family: "microsoft yahei";  
    }
}

.left_nav {float:left;width:100%;}
.left_nav ul li {
    
}
.left_nav ul li a {text-decoration:none;}

.footer{
    background: #eaeaea;
    #copy{
        color: $webColor;
    }
    #author{
        color: $webColor;
        a{
            color: #000;
        }
    }
}

.head{
    .users{
        font-size: 14px;
        a{
            
        }
    }
    .logos{
        font-weight: 700;
        font-size: 18px;
        a{
            color: #2e9cdd;
        }
    }
    height: auto;
    background: #fff;
}
body,.foot,html{
    background: #edf5f8;
}
p,div,body{font-family: "microsoft yahei";}
#leftnav{
    top: 60px;
}
.title{
    font-size: 15px;
}
.w90{
    width: 90%;
}
.msg_admin .query{
    height: auto;
    line-height: none;
}
.msg_admin .query input{
    height: auto;
    border: none;
}
.msg_admin .query{
    margin-left: 0;
}
textarea{font-family: arial,"microsoft yahei";}
table td{
    font-size: 1.0rem;
}
.msg_admin table.msgbox tr.mainbox  textarea{font-size: 15px;min-height: 363px;}
